*{
    margin: 0px;
}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: gray;
    min-height: 290px;
}
#left{
    float: left;
    background-color: aquamarine;
    width: 44%;
    text-align: center;

}
#left form input{
    /* -webkit-appearance: none; */
    height: 83px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: rgb(20, 71, 71);
    outline: none;
    display: inline-block;

}
#center{
    background-color: blue;
    width: 11%;
}
#right{
    float: right;
    background-color: antiquewhite;
    width: 44%;
}

.loginwithbutton{
    height: 33%;
    width: 50%;
    border: 1px black;
    border-style: solid;
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.loginwithbutton img{
    height: 53%;
    width: 10%;
    padding: 14px;
    display: inline-block;
    position: relative;
}
.loginwithbutton div{
    /* padding: 2px; */
    display: inline-block;
position: relative;

}