*{
    margin: 0px;
}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: gray;
    min-height: 290px;
    margin-top: 75px;
}
#head{
    text-align: center;
    height: 30px;
}
#mid{
}
#left{
    float: left;
    background-color: aquamarine;
    width: 49.94%;
    text-align: center;
    display: inline-flexbox;
    height: 280px;
}
#left form input{
    /* -webkit-appearance: none; */
    outline: none;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    outline: none;
    display: inline-flexbox;
    border-bottom: 1px black;
    border-style: solid;
    border-radius: 4px;
    margin-top: 25px;
}
#center{
    background-color: blue;
    width: 0.1%;
    display: inline-block;
    height: 280px;
}
#center div{
    margin-left: -14px;
    font-size: xx-large;
}
#right{
    float: right;
    background-color: antiquewhite;
    width: 49.94%;
    display: inline-flexbox;
    height: 280px;

}

.loginwithbutton{
    height: 21%;
    width: 50%;
    border: 1px black;
    border-style: solid;
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.loginwithbutton img{
    height: 53%;
    width: 10%;
    padding: 14px;
    display: inline-block;
    position: relative;
}
.loginwithbutton div{
    /* padding: 2px; */
    display: inline-block;
position: relative;

}

@media screen and (max-width: 600px) {
    #left{
        display: block;
    }
    #right{
        display: block;
    }
    #center{
        display: none;
    }
}